// @import "~bootstrap/scss/bootstrap"
html {
  font-size: 16px;
}
html.dark {
  &, body {
    background: #072642;
  }
}

.btn {
  cursor: pointer;
  margin: 1em;
}

.dash-account {
  > .row {
    background: #3498db;
    border-radius: 0.4em;
    overflow: hidden;

    .balance {
      font-weight: bold;
      background: #2ecc71;
    }
    .credit-balance {
      background: #e74c3c;
    }
  }
}

.dash-transactions {
  max-height: 85vh;
  overflow: auto;

  .transaction {

    &.positive .transaction-amount {
      color: #2ECC71;
    }

    &.negative .transaction-amount {
      color: #E74C3C;
    }

    .badge {
      margin-right: 0.5em;
    }
  }
}

.dash-goals {
  .goal {
  }
}

.dash-bills {
  .bill {
  }
}

.expense-transactions {
  .transactions-wrapper {
    border-top: 3px solid darkgrey;

    &::-webkit-scrollbar {
        width: 1em;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }

  .transaction {

    transition: 1s;

    &.positive {
      border-bottom: 2px solid #2ECC71;

      &:hover {
        background: #ABEBC6;
      }

      .transaction-amount {
        &, & input {
          color: #2ECC71;
        }
      }

      .transaction-date {
        border: 1px solid #2ECC71;
        border-top-width: 0;
      }
    }

    &.negative {
      border-bottom: 2px solid #E74C3C;

      &:hover {
        background: #F5B7B1;
      }

      .transaction-amount {
        &, & input {
          color: #E74C3C;
        }
      }

      .transaction-date {
        border: 1px solid #E74C3C;
        border-top-width: 0;
      }
    }

    .row {
      overflow: hidden;

      .transaction-date {
        font-weight: bold;
        padding: 0.4em 0.4em;
        background: ghostwhite;
        float: right;
      }
      .transaction-name {
      }
      .transaction-amount {
        font-size: 2em;
      }
    }

    .badge {
      margin-right: 0.5em;
    }
  }

  .alert-btn {
    margin-top: 0;
    margin-bottom: 0;
  }

}
