// @import "~bootstrap/scss/bootstrap"
html.dark {
  &, body {
    background: #072642;
  }
}

.btn {
  cursor: pointer;
}

.dash-account {
  .row {
    background: #3498db;
    border-radius: 0.4em;
    overflow: hidden;

    .balance {
      font-weight: bold;
      background: #2ecc71;
    }
    .credit-balance {
      background: #e74c3c;
    }
  }
}

.transaction {

  &.positive {
    background: #ABEBC6;
    border-bottom: 1px solid #2ECC71;

    &:hover {
      background: #2ECC71;
    }
  }

  &.negative {
    background: #F5B7B1;
    border-bottom: 1px solid #E74C3C;

    &:hover {
      background: #E74C3C;
    }
  }

  .row {
    overflow: hidden;

    .date {
      font-weight: bold;
      background: #2ecc71;
    }
    .credit-balance {
      background: #e74c3c;
    }
  }
}
