extends layout

block content
  h1
    | Login
  form#login(method="post", action="/users/login")
    label(for='name') Name:
    input#login_name(type='text', name='name')
    label(for='password') Password:
    input#login_password(type='password', name='password')
    input(type='submit', value='Save')

  h1
    | Register
  form#register(method="post", action="/users/register")
    label(for='name') Name:
    input#register_name(type='text', name='name')
    label(for='password') Password:
    input#register_password(type='password', name='password')
    input(type='submit', value='Save')

  script(src=webpack_asset("login", "js"))
